/* Personality Test: CSS, Maddie Hagar, Spring 2023 Harry Potter Booth Game  */

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    align-items: center;
    margin: 50px 0 0 5px;
}

label {
    text-align: center;
    align-items: center;
}

top-caption {
    margin: 5px;
    width: 200px;
    text-align: right;
    overflow: hidden;
}

section {
    width: 100vw;
    float: right;
}

chart {
    float: none;
    align-items: center;
    background-color: rgb(255,61,158);
    overflow: hidden;
}

img {
    border: 0px solid #ddd;
    border-radius: 0px;
    padding: 0px;
    width: 600px;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 10%;
}

p {
    font-size: 15px;
    white-space: pre-line;
}

.idle {
    font-size: 20px;
    text-align: center;
    padding: 10%;
}

.session-id {
    background: none;
    width: 600;
    height: 15px;
    font-size: 20px;
    text-align: left;
    position: absolute;
    padding: 5px 0;
    margin: 0 10px;
}

.counter {
    background: none;
    width: 600px;
    height: 15px;
    font-size: 20px;
    text-align: right;
    position: absolute;
    padding: 5px 0;
    margin: 0 -10px;
}

.start-block {
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5%;
    margin: auto;
    justify-content: center;
    align-content: center;
    white-space: pre;
    color: white;
    background-color: rgba(8, 32, 109, 0.8);
}

.start-block img {
    width: 100vw;
    height: 200px;
    position: absolute;
    display: flex;
    overflow: hidden;
    margin: -35px 0px 0px -250px;
}

.question-block {
    background-color: rgba(102, 96, 221, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 800px;
    margin: auto;
}

.answer-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-size: 10px;
}

.answer-block {
    width: 286px;
    height: 286px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0, 0.07) 0 0 0 1px;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.answer-block img {
    width: 100%;
    height: 75%;
}
.result-block {
    width: 600px;
    background-color: rgb(255,61,158);
    border-radius: 5px;
    border: solid rgb(255,61,158) 20px;
    text-align: center;
}

.result-block img {
    width: 100%;
}

.hide {
    display: none;
}